*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    outline: none;
}
body{
    font-weight: 200;
}
button:focus, input:focus{
    outline: 0 !important;
}
:root {
    --main-color: #dbb05a;
    --gris-1: #5b5b5b;
    --gris-2: #232323;
    --second-color: #f7e9d5;
}

.bg-gray {
	    border: 1px solid #d9d9d9;
	    background-color: #f7f7f7;
	}
h2{
    color: var(--main-color);
    text-align: center;
    margin-bottom: 40px;
}
section{
    margin: 30px 0 20px;
}
img{
    width: 100%;
}
ul{list-style:none;}
.overflow {overflow: hidden}

.socialMedia{
    padding-left: 0;
    margin-bottom: 0;
}
.socialMedia li {
    display: inline-block;
    margin: 0 10px;
}
.socialMedia li:hover{
    opacity: .7;
}

.cartBar{
    background-color: var(--gris-1);
    color: #fff;
    padding: 0 35px;
}

.cartBar div div{
    padding: 5px 2px;
}

.cartBar  img{
    width: 20px;
    position: relative;
    top: -2px;
}
.cartBar a {
    color: #fff;
}

.cartBar div div:nth-child(2){
    text-align: right;
    border-right: 1px solid #fff;
}

	.content{
	    position: relative;
				}
	.content.content-header {
	    position: fixed;
	    width: 100%;
        z-index: 99;
        top:0;
	}

	.padding-l-r{
	    padding-left: 15px !important;
	    padding-right: 15px !important;
	}
	
	.close {
	    display: block;
	    color: #b3b3b3;
	    opacity: 1;
	    padding: 4px;
	    font-size: 10px !important;
	    font-weight: 100;
	    border-radius: 50%;
	    width: 20px;
	    height: 20px;
	    text-align: center;
	    border: 1px solid #c1bebd;
	}			

nav{
    font-size: 16px;
    background-color: rgba(35, 35, 35, 0.9);
    color: #fff;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    font-weight: 200;
    z-index: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*body:not(.front) nav{
    position: relative;
}*/
body:not(.front) .container{
    padding-top: 120px;
}

nav.fixed{
    position: fixed;
    left: 0;
    z-index: 9;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
}

nav ul li a{
    padding: 25px 15px 25px;;
    color: #fff;
    display: block;
}

nav ul li a:hover{
    color: #fff;
    /*text-decoration: none;*/
}

nav ul li.logo a img{
    height: 50px;
    width: auto;
}

nav ul li.logo a{
    padding: 10px 0;
    font-size: 0;
}
.content{
    position: relative;
}

/*slider*/
/* .slider{
    padding-top:102px;
}
.slider img{
    width: 100%;
    cursor: pointer;
}
.slider ul {padding: 0;}
.slider li {
    background-image: url('../img/bgSlider.png');
    background-size: cover;
    transform: scale(1);
    transition: .1s all ease;
}
.slider li.slick-slide{
    filter: grayscale(100%);
}
.slider li.slick-slide.slick-current.slick-active{
    position: relative;
    z-index: 9;
    filter: grayscale(0%);
}
.slider li.slick-slide.slick-current.slick-active img{
    transition: .8s all ease;
    transform: scale(1.3);
}
.slider .slick-list{
    padding: 60px 50px !important;
}

.slick-slider .slick-arrow {
    position: absolute;
    bottom: 10px;
    left: 40%;
    z-index: 3;
    font-size: 0;
    width: 40px;
    height: 40px;
    background-image: url('../img/prev.png');
    background-size: 90%;
    background-position: 50% 50%;
}
.slick-slider .slick-arrow:hover{
    background-color: #e9e6df;
}
.slick-slider .slick-arrow.slick-prev {
    transform: translateX(-100%);
}
.slick-slider .slick-arrow.slick-next{
    transform: translateX(15px);
    background-image: url('../img/next.png');
}
.mainSlider{
    visibility: hidden;
    opacity: 0;
}
.mainSlider.slick-initialized.slick-slider.show{
    visibility: visible;
    opacity: 1;
    transition: .8s all ease-in;
}
.slider{
    position: relative;
}
.loader {
    background-image: url('../img/backHome.png');
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position-y: calc(50% + 50px);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all ease;
}
.loader img {
    animation: showLogo 5s forwards;
}
@keyframes showLogo{
    0% {
        transform: scale(0);
        opacity: .5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
} */
.front {

}
.front .containter-scroll {
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-top: 80vh;
}
video { 
    position: fixed;
    top: 0px;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%);
    background-size: cover;
    transition: 1s opacity;
}
.mainSection img {
    position: fixed;
    top: 104px;
    width: 100%; 
}

.containter-scroll:before{
    content: "";
    width: 40px;
    height: 40px;
    background-image: url('../img/scroll.svg');
    background-size: contain;
    position: absolute;
    top: -50px;
    z-index: 9;
    left: calc(50% - 20px);
    opacity: .5;
}

/* PRODUCTOS */
.product{
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    cursor: pointer;
}
.product p{
    margin: 0;
}
.product .relative .overflow{
    height: 100%;
    margin: 0;
}
.product div:not(.relative) {
    height: 40px;
    margin-top: 10px;
    letter-spacing: 2px;
}
.relative {
    position: relative;
    overflow: hidden;
    background: #c59f53;
}
.relative .overflow{
    transition: transform 0.35s;
    transition-delay: .4s;
}
.product .relative > a > div img {
    transition: transform 1s;
}
.product .relative:hover > a > div{
    transform: translate3d(0,-26px,0);
    transition: transform 0.35s;
    position: relative;
    z-index: 1;
}
.product .relative:hover > a > div img {
    transform: scale(1.6);
    transition: 3s all;
}

.relative .hover{
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transition-delay: .2s;
}
.relative .hover p{
    font-weight: 800;
    color: #fff;
    margin: 5px 0; 
}
.relative .hover p img{
    width: 24px;
    position: relative;
    top: -2px;
}
.relative:hover .hover{
    transform: translate3d(0,0,0);
    opacity: 1;
}

.icon img{
    width: 25px;
    margin: 0px 15px;
}
.icon:hover img{
    transform: scale(1.2);
}

/*Banners*/
.banners .rigth{
    padding-left: 0;
}
.banners .rigth .top{
    padding-bottom: 12px;
}

/* BLOG */
.blog{
    padding-top: 40px;
    text-align: right;
}

.blog .right{
    position: relative;
}
.blog .right h2{
    position: absolute;
    top: -30px;
    left: 15px;
    transform: translateY(-100%);
    font-weight: bold;
}
.blog .left{
    padding-left: 40px;
}
.blog .left h3{
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase
}
.blog .left p{
    padding-left: 40px;
}

button{
    border: 2px solid var(--main-color);
    color:var(--main-color);
    background: transparent;
}
button:hover{
    background-color: var(--main-color);
    color: #fff;
}

button[type="submit"]{
    padding: 10px 40px;
}

.news{
    background-color: var(--second-color);
    padding: 40px;
    margin-bottom: 0;
    margin-top: 0;
}

.news p{
    line-height: 18px;
    font-size: 20px;
}

.news form{
    padding-top: 0px;
    padding-left: 15px;
}
.news .email input{
    background: transparent;
    border: 1px solid #000;
    color: #000;
    padding-left: 10px;
    height: 30px;
    min-width: 200px;
}
.news .email input[type="email"]{
    width: calc(100% - 120px);
    max-width: 300px;
}

.news .email button[type="submit"]{
    background: #000;
    border: 1px solid #000;
    color: #fff;
    padding: 0 20px;
    height: 30px;
}


/*footer*/
footer{
    background-color: var(--gris-2);
    color: #dedcdc;
    padding: 30px 0 30px;
    position: relative;
}
footer img{
    width: 260px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    display: block;
}

footer ul{
    list-style: none;
    margin-top: 10px;
    padding-left: 0;
    font-weight: 100;
}
footer ul li {
    padding: 2px 0;
    font-size: 14px;
}
footer div {
    font-weight: bold;
    font-size: 16px;
}

body:not(.front) footer .container{
    padding-top: 0;
}
/*
    * MARCAS
*/
.marcas{
    margin: 30px auto;
    display: block;
    width: 70%;
}

.marcas img {
    display: block;
    padding: 30px;
    margin: 10px auto;
    border: 1px solid #d9d9d9;
    max-width: 600px;
}



/*
CONTACTO
*/

.front .contacto{margin-bottom: 0;}
.tiendas {
    padding: 15px 0;
}
.contacto h2{
    text-align: left;
    margin-bottom: 0;
}
.contacto h3{
    margin-top: 0;
    margin-bottom: 20px;
}

 #map {
    height: 300px;
    width: 100%;
}
.contact section.contacto {
    margin: 0;
    padding-top: 120px;
}
body:not(.front).contact .container{
    padding-top: 0;
}
/*
    cart
*/

.dropDown {
    display: none;
    background-color: rgba(255, 255, 255, 0.94);
    position: absolute;
    color: #000;
    z-index: 10;
    min-width: 330px;
    right: 7px;
    top: 33px;
    border: 1px solid #d8d8d8;
    border-radius: 0px 0px 4px 4px;
    padding-top: 15px;
    /* box-shadow: -2px 1px 7px #909090;     */

}
.cartBar .col-sm-1:hover .dropDown{
    display: block;
}
.dropDown:before{
    content: "";
    position: absolute;
    top: -13px;
    right: 3px;
    width: 18px;
    height: 14px;
    border-bottom: 9px solid #fff;
    border-top: 5px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    opacity: .9;
}

.dropDown .producto {
    display: flex;
    padding: 5px 15px;
    margin-bottom: 15px;
    position: relative;
    flex-wrap: wrap;
}
.dropDown .producto:after{
    content: "";
    width: 100%;
    margin: 0 auto;
    display: block;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    top: 10px;
}
.dropDown .producto img {
    width: 50px;
}
.dropDown .producto .left{
    padding: 0;
}

.dropDown .producto .right{
    width: 100%;
    flex-basis: 80%;
    padding-left: 15px;
    text-align: left;
}
.dropDown .producto .right > div {padding: 0;}
.dropDown table {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.dropDown table thead{
    font-weight: 400;
}
.dropDown .total{
    text-align: center !important;
}
.dropDown .total p{
    font-size: 18px;
}
.dropDown .total button{
    background-color: #3c3c3c;
    color: #fff;
    border: 0;
    width: 80%;
    margin-bottom: 15px;
}

/*mayoristas*/
.mayorista{
    padding-top: 80px;
}


  /*OCultos*/
  .cartBar .col-sm-1{display: none;}

  .alRevez {unicode-bidi:bidi-override; direction: rtl; }